*{margin:0px 5px 10px 5px; padding: 0px;}
@font-face{
    src: url(fuentes/GOTHIC.TTF);
    font-family: GOTHIC;
}
body{
    background: #F1F1F1;
    max-width: 1500px;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    display: flex;
}
.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
header{
    width: 100%;
	overflow: hidden;
	background: #000000;
    margin-bottom: 20px;
    height: 85px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 5000px;
}
.menu1{
    background: #000000;
    width: 100%;
    overflow: hidden;

    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;    

}
a{
    text-decoration: none;
    font-family: GOTHIC;
}
P{
    font-family: GOTHIC; 
}
.logo{
    float: left;
    width: 70px;
    height: 70px;
}
header nav{
    float: right;
    line-height: 90px;
}
header nav a{
    display: flex;
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 20px;
    line-height: normal;
    font-size: 20px;  
}
header nav a:hover{
    background:#5e2129;
    border-radius: 35px;
}
.buscador{
    padding: 7px 6px 7px 10px;
    outline: none;
    font-size: 13px;
    border-radius: 10px;
    border: 3px solid #000000;
}
input.buscador:hover{
    width: 180px;
    background-color: #FFFFFF;
    border-color: #000000;
    box-shadow: 0 0 5px #000000;
}
.texto{
    background: #ffffff;
    max-width: 1500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boton{
    width: 50px;
    height: 25px;
}
.texto1{
    background: #F1F1F1;
    max-width: 1500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ADS{
    width: 20%;
    align-items: left;
    margin: 20px;
}
.hist{
    width: 75%;
    margin: 20px;
    background: #ffffff;
}
